<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tony.billing.dao.mapper.FundPreSaleInfoMapper">

    <resultMap id="FundPreSaleInfoResultMap" type="com.tony.billing.entity.FundPreSaleInfo">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="fundCode" column="fundCode" jdbcType="VARCHAR"/>
        <result property="fundName" column="fundName" jdbcType="VARCHAR"/>
        <result property="purchaseCost" column="purchaseCost" jdbcType="DECIMAL"/>
        <result property="purchaseFee" column="purchaseFee" jdbcType="DECIMAL"/>
        <result property="assessmentSoldIncome" column="assessmentSoldIncome" jdbcType="DECIMAL"/>
        <result property="assessmentSoldFee" column="assessmentSoldFee" jdbcType="DECIMAL"/>
        <result property="assessmentValue" column="assessmentValue" jdbcType="DECIMAL"/>
        <result property="costValue" column="costValue" jdbcType="DECIMAL"/>
        <result property="soldAmount" column="soldAmount" jdbcType="DECIMAL"/>
        <result property="soldDate" column="soldDate" jdbcType="TIMESTAMP"/>
        <result property="converted" column="converted" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="isDeleted" column="isDeleted" jdbcType="INTEGER"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="all">
        id,
        userId,
        fundCode,
        fundName,
        purchaseCost,
        purchaseFee,
        assessmentSoldIncome,
        assessmentSoldFee,
        assessmentValue,
        costValue,
        soldAmount,
        soldDate,
        converted,
        version,
        isDeleted,
        createTime,
        modifyTime
    </sql>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.tony.billing.entity.FundPreSaleInfo">
        INSERT INTO T_FUND_PRE_SOLD_INFO
        <trim prefix="(" suffix=")"  suffixOverrides=",">
            <if test=" id!=null">
                id,
            </if>
            <if test=" userId!=null">
                userId,
            </if>
            <if test=" fundCode!=null and fundCode!=''">
                fundCode,
            </if>
            <if test=" fundName!=null and fundName!=''">
                fundName,
            </if>
            <if test=" purchaseCost!=null">
                purchaseCost,
            </if>
            <if test=" purchaseFee!=null">
                purchaseFee,
            </if>
            <if test=" assessmentSoldIncome!=null">
                assessmentSoldIncome,
            </if>
            <if test=" assessmentSoldFee!=null">
                assessmentSoldFee,
            </if>
            <if test=" assessmentValue!=null">
                assessmentValue,
            </if>
            <if test=" costValue!=null">
                costValue,
            </if>
            <if test=" soldAmount!=null">
                soldAmount,
            </if>
            <if test=" soldDate!=null">
                soldDate,
            </if>
            <if test=" converted!=null">
                converted,
            </if>
            <if test=" version!=null">
                version,
            </if>
            <if test=" isDeleted!=null">
                isDeleted,
            </if>
            <if test=" createTime!=null">
                createTime,
            </if>
            <if test=" modifyTime!=null">
                modifyTime,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test=" id!=null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test=" userId!=null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test=" fundCode!=null and fundCode!=''">
                #{fundCode,jdbcType=VARCHAR},
            </if>
            <if test=" fundName!=null and fundName!=''">
                #{fundName,jdbcType=VARCHAR},
            </if>
            <if test=" purchaseCost!=null">
                #{purchaseCost,jdbcType=DECIMAL},
            </if>
            <if test=" purchaseFee!=null">
                #{purchaseFee,jdbcType=DECIMAL},
            </if>
            <if test=" assessmentSoldIncome!=null">
                #{assessmentSoldIncome,jdbcType=DECIMAL},
            </if>
            <if test=" assessmentSoldFee!=null">
                #{assessmentSoldFee,jdbcType=DECIMAL},
            </if>
            <if test=" assessmentValue!=null">
                #{assessmentValue,jdbcType=DECIMAL},
            </if>
            <if test=" costValue!=null">
                #{costValue,jdbcType=DECIMAL},
            </if>
            <if test=" soldAmount!=null">
                #{soldAmount,jdbcType=DECIMAL},
            </if>
            <if test=" soldDate!=null">
                #{soldDate,jdbcType=TIMESTAMP},
            </if>
            <if test=" converted!=null">
                #{converted,jdbcType=INTEGER},
            </if>
            <if test=" version!=null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test=" isDeleted!=null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test=" createTime!=null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test=" modifyTime!=null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.tony.billing.entity.FundPreSaleInfo">
        UPDATE T_FUND_PRE_SOLD_INFO
        <trim prefix="SET" suffixOverrides=",">
            <if test=" id!=null">
                id=#{id,jdbcType=BIGINT},
            </if>
            <if test=" userId!=null">
                userId=#{userId,jdbcType=BIGINT},
            </if>
            <if test=" fundCode!=null and fundCode!=''">
                fundCode=#{fundCode,jdbcType=VARCHAR},
            </if>
            <if test=" fundName!=null and fundName!=''">
                fundName=#{fundName,jdbcType=VARCHAR},
            </if>
            <if test=" purchaseCost!=null">
                purchaseCost=#{purchaseCost,jdbcType=DECIMAL},
            </if>
            <if test=" purchaseFee!=null">
                purchaseFee=#{purchaseFee,jdbcType=DECIMAL},
            </if>
            <if test=" assessmentSoldIncome!=null">
                assessmentSoldIncome=#{assessmentSoldIncome,jdbcType=DECIMAL},
            </if>
            <if test=" assessmentSoldFee!=null">
                assessmentSoldFee=#{assessmentSoldFee,jdbcType=DECIMAL},
            </if>
            <if test=" assessmentValue!=null">
                assessmentValue=#{assessmentValue,jdbcType=DECIMAL},
            </if>
            <if test=" costValue!=null">
                costValue=#{costValue,jdbcType=DECIMAL},
            </if>
            <if test=" soldAmount!=null">
                soldAmount=#{soldAmount,jdbcType=DECIMAL},
            </if>
            <if test=" soldDate!=null">
                soldDate=#{soldDate,jdbcType=TIMESTAMP},
            </if>
            <if test=" converted!=null">
                converted=#{converted,jdbcType=INTEGER},
            </if>
            <if test=" version!=null">
                version=#{version,jdbcType=INTEGER},
            </if>
            <if test=" isDeleted!=null">
                isDeleted=#{isDeleted,jdbcType=INTEGER},
            </if>
            <if test=" createTime!=null">
                createTime=#{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test=" modifyTime!=null">
                modifyTime=#{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        WHERE id=#{id, jdbcType=BIGINT} AND isDeleted='0'
    </update>
<!--
    <sql id="queryWhere">
        <trim prefix="WHERE" prefixOverrides="and">
            AND isDeleted='0'
            <if test=" id!=null">
                and id=#{id,jdbcType=BIGINT}
            </if>
            <if test=" userId!=null">
                and userId=#{userId,jdbcType=BIGINT}
            </if>
            <if test=" fundCode!=null and fundCode!=''">
                and fundCode=#{fundCode,jdbcType=VARCHAR}
            </if>
            <if test=" fundName!=null and fundName!=''">
                and fundName=#{fundName,jdbcType=VARCHAR}
            </if>
            <if test=" purchaseCost!=null">
                and purchaseCost=#{purchaseCost,jdbcType=DECIMAL}
            </if>
            <if test=" purchaseFee!=null">
                and purchaseFee=#{purchaseFee,jdbcType=DECIMAL}
            </if>
            <if test=" assessmentSoldIncome!=null">
                and assessmentSoldIncome=#{assessmentSoldIncome,jdbcType=DECIMAL}
            </if>
            <if test=" assessmentSoldFee!=null">
                and assessmentSoldFee=#{assessmentSoldFee,jdbcType=DECIMAL}
            </if>
            <if test=" assessmentValue!=null">
                and assessmentValue=#{assessmentValue,jdbcType=DECIMAL}
            </if>
            <if test=" costValue!=null">
                and costValue=#{costValue,jdbcType=DECIMAL}
            </if>
            <if test=" soldAmount!=null">
                and soldAmount=#{soldAmount,jdbcType=DECIMAL}
            </if>
            <if test=" soldDate!=null">
                and soldDate=#{soldDate,jdbcType=TIMESTAMP}
            </if>
            <if test=" converted!=null">
                and converted=#{converted,jdbcType=INTEGER}
            </if>
            <if test=" version!=null">
                and version=#{version,jdbcType=INTEGER}
            </if>
            <if test=" isDeleted!=null">
                and isDeleted=#{isDeleted,jdbcType=INTEGER}
            </if>
            <if test=" createTime!=null">
                and createTime=#{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test=" modifyTime!=null">
                and modifyTime=#{modifyTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>
    <select id="countByQuery" parameterType="com.tony.billing.query.FundPreSaleInfoQuery"
            resultType="Integer">
        SELECT count(*) FROM T_FUND_PRE_SOLD_INFO
        <include refid="queryWhere"/>
    </select>

    <select id="queryByPagination" parameterType="com.tony.billing.query.FundPreSaleInfoQuery"
            resultMap="FundPreSaleInfoResultMap">
        SELECT
        <include refid="all"/>
        FROM T_FUND_PRE_SOLD_INFO
        <include refid="queryWhere"/>
        ORDER BY GMT_MODIFY DESC
        <if test="mysqlPageFristItem != null">
            <if test="pageSize != null and pageSize.toString() != ''">
                limit #{mysqlPageFristItem},#{pageSize}
            </if>
        </if>
    </select>
-->
    <select id="list" parameterType="com.tony.billing.entity.FundPreSaleInfo" resultMap="FundPreSaleInfoResultMap">
        SELECT
        <include refid="all"/>
        FROM T_FUND_PRE_SOLD_INFO
        <trim prefix="WHERE" prefixOverrides="and">
            AND isDeleted='0'
            <if test=" id!=null">
                and id=#{id,jdbcType=BIGINT}
            </if>
            <if test=" userId!=null">
                and userId=#{userId,jdbcType=BIGINT}
            </if>
            <if test=" fundCode!=null and fundCode!=''">
                and fundCode=#{fundCode,jdbcType=VARCHAR}
            </if>
            <if test=" fundName!=null and fundName!=''">
                and fundName=#{fundName,jdbcType=VARCHAR}
            </if>
            <if test=" purchaseCost!=null">
                and purchaseCost=#{purchaseCost,jdbcType=DECIMAL}
            </if>
            <if test=" purchaseFee!=null">
                and purchaseFee=#{purchaseFee,jdbcType=DECIMAL}
            </if>
            <if test=" assessmentSoldIncome!=null">
                and assessmentSoldIncome=#{assessmentSoldIncome,jdbcType=DECIMAL}
            </if>
            <if test=" assessmentSoldFee!=null">
                and assessmentSoldFee=#{assessmentSoldFee,jdbcType=DECIMAL}
            </if>
            <if test=" assessmentValue!=null">
                and assessmentValue=#{assessmentValue,jdbcType=DECIMAL}
            </if>
            <if test=" costValue!=null">
                and costValue=#{costValue,jdbcType=DECIMAL}
            </if>
            <if test=" soldAmount!=null">
                and soldAmount=#{soldAmount,jdbcType=DECIMAL}
            </if>
            <if test=" soldDate!=null">
                and soldDate=#{soldDate,jdbcType=TIMESTAMP}
            </if>
            <if test=" converted!=null">
                and converted=#{converted,jdbcType=INTEGER}
            </if>
            <if test=" version!=null">
                and version=#{version,jdbcType=INTEGER}
            </if>
            <if test=" isDeleted!=null">
                and isDeleted=#{isDeleted,jdbcType=INTEGER}
            </if>
            <if test=" createTime!=null">
                and createTime=#{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test=" modifyTime!=null">
                and modifyTime=#{modifyTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>

    <select id="getById" resultMap="FundPreSaleInfoResultMap">
        SELECT
        <include refid="all"/>
        FROM T_FUND_PRE_SOLD_INFO WHERE id=#{id,jdbcType=BIGINT} AND userId=#{userId,jdbcType=BIGINT} AND isDeleted='0'
    </select>

    <update id="deleteById">
        update T_FUND_PRE_SOLD_INFO set isDeleted='1',modifyTime=sysdate() where id=#{id, jdbcType=BIGINT} AND userId=#{userId,jdbcType=BIGINT}
    </update>
</mapper>